	<div class="col-lg-12">
                    <h5><a href="">ABOUT ME</a></h5>
                    <div>
                        
                            <img class="img-rounded" style="width:150px;height:150px;" src="/markdownImg/aboutme.JPG">
                        
							<br><br>
                            <p>自己选择的路，跪着也要走完！！！</p>
                        
                        <!-- SNS Link -->
                        <ul class="list-inline">
                  
                            <li>
                                <a target="_blank" href="https://github.com">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
         </div>